.task-item-group-container {
  margin: 2% auto;
  background-color: lightgrey;
  min-width: 400px;
  width: 85%;
  padding: 12px;
  border-radius: 8px;
  border: 3px solid darkgrey;
}

.date_header {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.complete-header {
  color: darkgreen;
}
