html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(180deg, rgb(0, 0, 255), rgba(255, 0, 0, 0));
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}
